* { padding: 0; margin: 0 }

body {
    background-image: url(imgs/bg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
}

.menu-extends {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
}

ul#menu-bar {
    display: flex;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    width: 550px;
    margin: 0 auto;
    height: 2.3rem;
    box-shadow: 3px 3px 8px #484848;
}

ul#menu-bar li {
    list-style: none;
}

ul#menu-bar .menu {
    height: 100%;
    width: 100%;
    line-height: 2.3rem;
    text-align: center;
    transition: .3s;
    position: relative;
}

ul#menu-bar .menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

ul#product-item, ul#services-item {
    display: none;
    transition: .3s;
}

ul#menu-bar .menu:first-child {
    width: 2rem;
    padding: 0 1rem;
    margin-right: 0;
}

ul#menu-bar .menu:hover {
    background: rgb(80, 80, 80);
}

.fa {
    transition: .4s;
}

.rotate {
    transform: rotate(180deg);
}


ul#product-item li, ul#services-item li {
    border-left: 4px solid transparent;
    margin-bottom: 0.3rem;
    margin-left: 0.1rem;
    width: 100%;
    padding: 0 1rem;
    background: #53617A;
    margin-top: .3rem;
}

ul#product-item li:hover, ul#services-item li:hover {
    border-left: 4px solid #ffc9f2;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    width: 100%;
}

.menu-item:hover .menu-sub-item{
    display: inline-block;
}

.menu-sub-item {
    display: none;
    position: absolute;
}

ul.menu-sub-item li {
    width: 200px !important;
}

ul.menu-sub-item {
    left: 127%;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    background-blend-mode: screen;
    cursor: pointer;
}
